@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.3/css/bootstrap.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css");

/* Styleing the navigation bar */

.avatar {
  background: none;
  border-radius: 50%;
  width: 40px;
  object-fit: contain;
}

.navbar {
  background-color: #f9dede;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  padding-right: 20px;
  height: 70px;
  width: 100%;
}

.topnav a {
  float: left;
  color: #fb8b8b;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #677c74;
  color: rgb(255, 253, 253);
  height: 50px;
}

/* Style the card box */
.card {
  background-color: #ffffff;
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
  display: inline-grid;
  /* column-gap: 20px; */
}

.card-body {
  width: 200px;
  height: 400px;
}

.card-text {
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
}

.card-img {
  width: 200px;
  height: 200px;
  border-radius: 10px;
}

.btn {
  color: rgb(255, 255, 255);
  background-color: #677c74;
  border-radius: 10px;
}

.card-body a {
  text-decoration: none;
  color: rgb(102, 177, 158);
}

/*style the Welcome component container*/
.container {
  background-color: #f9dede;
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
  width: 100%;
  /* height: 90%; */
}

.container h1 p {
  font-size: 30px;
  font-family: "Montserrat", sans-serif;
}

/* Searchbar */
.searchbar {
  margin-top: 50px;
  width: 50%;
}

/* Bootstrap 4 text input with search icon */
.has-search .form-control {
  padding-left: 2.375rem;
}
.has-search .form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
  color: #aaa;
}
