<div class="header">
 <h1><span class="highlight">Art</span> Exhibitions</h1>
</div>
<div class="container">
  <% @exhibitions.each do |exhibition| %>
    <div class="card">
      <h2><%= exhibition.title %></h2>
      <p><%= exhibition.description %></p>
       <p>Date: <%= exhibition.date %></p>
      <a href="<%= exhibition.link %>" target="_blank">View Exhibition</a>
    </div>
  <% end %>
</div>
