<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Event Lister</title>
    <link rel="stylesheet" href="../CSS_Files/style.css">
  </head>
  <body>
    <div id="navbar">
    </div>

    <div id="searchbar">
    </div>

    <div id="welcome">
    </div>
  </body>
</html>
